/* usercard */
.UserCard{
    border-radius: 13px;
    border: 1px solid var(--box-bg);
    background: var(--box-bg2);
    height: 20px;
    line-height: 36px;
    word-wrap: break-word;
    padding : 15px;
    width : 190px;
    height: 300px;
    margin-right : 10px;
  }
  .UserCard .profileImg{
    margin-left: 55px;
    border-radius : 50%;
    width : 65px;
    border: 1px solid black;
    margin-right: 10px;
  }
  
  .UserCard .gitImg{
    position: absolute;
    width : 27px; 
    cursor: pointer;
    margin-left: 26px;
    margin-top:-10px;
  }
  
  



  .GroupCard{
    border-radius: 13px;
    border: 1px solid #ced0d1;
    line-height: 36px;
    word-wrap: break-word;
    padding : 5px 15px;
    width : 180px;
    height: 240px;
    margin-right : 10px;
    margin-bottom: 10px;
  }



.donggae_icon{
  width: 19px;
}

.rankImg{
  width: 14px;
  margin-right: 10px;
}




/* User Card */
.letterfont, .UserName, .UserName_, .name{
  font-family: 'Hedvig Letters Serif', serif;
}

.UserName{
  font-weight: 600;
  text-align: center;
}



.UserIntro{
  font-size: 12px;
  color : rgb(90, 90, 90);
  height: 25px;
}

.UserCate, .UserCateInfo{
  font-size: 11px;
  height: 20px;
}

.UserCate{
  font-weight: 600;
}

.intro{
  margin-top: 10px;
  font-size: 12px;
  color : rgb(90, 90, 90);
  line-height : 20px;
}

