.default{
    padding-top:200px;
  }


  .inner{
    margin : 0 auto;
    width : 50vw;
    height : 680px;
  }
  
  .body{
    position: absolute;
    font-size: 14px;
    top : 180px;
    background-color: white;
  }

  .leaderboard {
    width: 1000px;
    position: relative;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #141a39;
    cursor: default;
  }
  
  .text__1 {
    font-size:23px;
    font-weight: bold;
    width : 100%;
    line-height: 35px;
    margin-bottom:20px;
  }

  .tearImg{
    width : 700px;
  }