
.GroupCard{
    padding: 5px;
    border-radius: 16px;
    border: 1px solid #717171;
    background: var(--box-bg2);
    height: 20px;
    line-height: 36px;
    word-wrap: break-word;
    padding : 10px;
    min-width : 150px;
    width : 150px;
    height: 200px;
    margin-right : 10px;
  }

  .modifyBtn{
    border:none;
    /* border-radius: 6px; */
    background: inherit;
    width : 30px;
    height : 20px;
    cursor:pointer;

    font-size:10px;
    z-index: 1;
}

.title{
  line-height: 25px;
}

.title a{
  color : black;
  text-decoration: none;
  transition: all 0.2s;
  font-size: 13px;
  font-weight: 600;
}

.title a:hover {
  color: var(--point-orange);  
}

.modifyBtn a, .completeBtn a{
  text-decoration: none;
  color : black;
}
.completeBtn{
  border:none;
  /* border-radius: 6px; */
  /* background: var(--point-orange); */
    background: inherit;
  width : 50px;
  height : 20px;
  cursor:pointer;

  font-size:10px;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 10px;  /* 세로축 스크롤바 폭 너비 */
  height: 20px;  /* 가로축 스크롤바 폭 너비 */
}

/* profile */

.flex{
  margin-top : 10px;
  display: flex;
  line-height: 10px;
}
.GroupCard{
  font-size: 13px;
}
.donggae_icon{
  width: 19px;
}

.rankImg{
  width: 14px;
  margin-right: 10px;
}

.profileImg{
  border-radius : 50%;
  width : 45px;
  border: 1px solid white;
  margin-right: 10px;
}

.name{
  font-family: 'Hedvig Letters Serif', serif;
  font-size: 12px;
}


