
.GroupCard{
    padding: 5px;
    border-radius: 16px;
    border: 1px solid var(--box-bg);
    background: var(--box-bg2);
    height: 20px;
    line-height: 36px;
    word-wrap: break-word;
    padding : 10px;
    width : 160px;
    height: 200px;
    margin-right : 10px;
  }

  .modifyBtn{
    border:none;
    /* border-radius: 6px; */
    /* background: var(--point-orange); */
    width : 30px;
    height : 20px;
    cursor:pointer;

    font-size:10px;
    z-index: 1;
}

.modifyBtn a{
  text-decoration: none;
  color : black;
  font-family: 'Brawler';
}