/* header */
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
    
}

.contents{
    font-size: 14px;
    width: 96%;
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-top : 50px;
    border-bottom: solid 1px var(--border-grey);
    border-width: 120%;
    padding-bottom : 30px;
}

.logo{
    display: flex; 
    width : 300px;
}

.title{
    font-size:42px;
    font-weight: bold;
    font-family: 'Viga';
    color: var(--basic-text);
    padding : 10px;
}

.subtitle{
    font-family: 'Viga';
    color: var(--basic-text);
    padding-left : 10px;
    font-size:22px;
}

.logoimg{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.navigation{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    font-family: 'Viga';
    font-size:30px;
    font-weight: bold;
}

li + li {
    margin-left: 40px;
}
  
  
