

body{
    background-color: var(--basic-white);
}
.default{
    width: 1900px;
    min-height: 100vh;
    
}

.inner{
    width: 1900px;
    padding-top:200px;
}

.body{
    position: absolute;
    font-size: 14px;
    left : 520px;
    top : 220px;
    background-color: white;
    width : 900px;
    height : 680px;
}
