@font-face {
    font-family: 'Viga';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: var(--basic-white);
}
.default{
    width: 1900px;
    min-height: 100vh;
    
}

.inner{
    width: 1900px;
    padding-top:200px;
}

.body{
    position: absolute;
    font-size: 14px;
    left : 520px;
    top : 220px;
    background-color: white;
    width : 900px;
    height : 680px;
}
