@font-face {
    font-family: 'Viga';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --body-font: "", sans-serif;
    --basic-white: #fff;
    --basic-black: #000000;

    --border-grey: #A49F9F;
    --box-border:#E6EBEE;
    --box-bg:#B9B9B9;
    --box-bg2:#F1F1F1;

    --point-orange:#FAAB23;
    
    --pastel-blue:#9BC3FF;
    --pastel-orange:#FF9F81;
    
    /* Text */
    --basic-text :#222222;
    --disabled-text : #707070;
    --grey-text:#898989;

    /* Select */
    --select-bg:#F2F3F5;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--basic-white);
}
.default{
    width: 1900px;
    min-height: 100vh;
    
}

.inner{
    width: 1900px;
    padding-top:200px;
}

