.signup {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .signup .div {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
  }
  
  .signup .overlap {
    height: 70px;
    left: 738px;
    position: absolute;
    top: 883px;
    width: 397px;
  }
  
  .signup .group {
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 397px;
  }
  
  .signup .rectangle {
    background-color: #dedede;
    border: 1px solid;
    border-color: #000000cc;
    border-radius: 50px;
    height: 72px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 399px;
  }
  
  .signup .text-wrapper {
    color: #000000;
    font-family: "Brawler-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    height: 49px;
    left: 123px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 9px;
    width: 151px;
  }
  
  .signup .overlap-group {
    height: 140px;
    left: 46px;
    position: absolute;
    top: 54px;
    width: 405px;
  }
  
  .signup .overlap-group-wrapper {
    height: 140px;
    left: 100px;
    position: absolute;
    top: 0;
    width: 305px;
  }
  
  .signup .overlap-group-2 {
    height: 140px;
    position: relative;
    width: 301px;
  }
  
  .signup .text-wrapper-2 {
    color: #000000;
    font-family: "Viga-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    height: 79px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 301px;
  }
  
  .signup .p {
    color: #000000;
    font-family: "Brawler-Bold", Helvetica;
    font-size: 28px;
    font-weight: 400;
    height: 79px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 61px;
    width: 301px;
  }
  
  .signup .span {
    font-weight: 700;
    position: relative;
    top:15px;
  }
  
  .signup .text-wrapper-3 {
    font-family: "Brawler-Regular", Helvetica;
    position: relative;
    top:15px;
  }
  
  .signup .image {
    height: 112px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 120px;
  }
  
  .signup .text-wrapper-4 {
    color: #000000;
    font-family: "Brawler-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    height: 68px;
    left: 414px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 358px;
    width: 157px;
  }
  
  .signup .text-wrapper-5 {
    color: #000000;
    font-family: "Brawler-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    height: 109px;
    left: 1625px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 61px;
    width: 256px;
  }
  
  .signup .line {
    height: 5px;
    left: 39px;
    object-fit: cover;
    position: absolute;
    top: 232px;
    width: 1842px;
  }
  
  .signup .overlap-2 {
    height: 71px;
    left: 629px;
    position: absolute;
    top: 346px;
    width: 636px;
  }
  
  .signup .rectangle-wrapper {
    height: 59px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 614px;
  }
  
  .signup .rectangle-2 {
    background-color: #efefef;
    border: 1px solid;
    border-color: #00000080;
    border-radius: 50px;
    height: 61px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 616px;
    padding-left: 15px;
    font-size:20pt;
  }
  
  .signup .text-wrapper-6 {
    color: #898989;
    font-family: "Brawler-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    height: 71px;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    width: 610px;
    
  }
  
  .signup .div-wrapper {
    color:#000000;
    border: 2px solid;
    border-color: #faab23;
    border-radius: 6px;
    height: 49px;
    left: 1291px;
    position: absolute;
    top: 350px;
    width: 92px;
  }

  .disabled {
    background-color: rgb(204, 204, 204); 
    border-color: rgb(204, 204, 204) !important;
    cursor: not-allowed;
}
  
  .signup .text-wrapper-7 {
    color: #000000;
    font-family: "Brawler-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 37px;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 14px;
    width: 83px;
  }
  
  .signup .text-wrapper-8 {
    color: #000000;
    font-family: "Brawler-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    height: 58px;
    left: 414px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 454px;
    width: 210px;
  }
  
  .signup .overlap-3 {
    height: 71px;
    left: 629px;
    position: absolute;
    top: 441px;
    width: 636px;
  }
  
  .signup .group-2 {
    height: 59px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 279px;
  }
  
  .signup .rectangle-3 {
    background-color: #efefef;
    border: 1px solid;
    border-color: #00000080;
    border-radius: 50px;
    height: 61px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 281px;
    font-size:20pt;
    padding-left: 15px;
  }
  
  .signup .group-3 {
    height: 59px;
    left: 335px;
    position: absolute;
    top: 8px;
    width: 279px;
  }
  
  .signup .rectangle-4 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #00000080;
    border-radius: 20px;
    height: 61px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 281px;
    padding-left: 15px;
  }
  
  .signup .dgu-ac-kr {
    color: #000000;
    font-family: "Brawler-Bold", Helvetica;
    font-size: 35px;
    font-weight: 600;
    height: 54px;
    left: 291px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    width: 304px;
    padding-left: 8px;
  }
  
  .signup .overlap-4 {
    color: #000000;
    border: 2px solid;
    border-color: #faab23;
    border-radius: 6px;
    height: 49px;
    left: 1291px;
    position: absolute;
    top: 454px;
    width: 92px;
  }
  
  .signup .text-wrapper-9 {
    color: #000000;
    font-family: "Brawler-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    height: 58px;
    left: 414px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 556px;
    width: 192px;
  }
  
  .signup .overlap-5 {
    height: 71px;
    left: 629px;
    position: absolute;
    top: 541px;
    width: 636px;
  }
  
  .signup .overlap-6 {
    border: 2px solid;
    border-color: #faab23;
    border-radius: 6px;
    height: 49px;
    left: 1291px;
    position: absolute;
    top: 554px;
    width: 92px;
  }
  
  .signup .img {
    height: 80px;
    left: 629px;
    object-fit: cover;
    position: absolute;
    top: 873px;
    width: 77px;
  }
  

.overlap-6{
    color:black;
}

