@font-face {
    font-family: 'Viga';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --body-font: "", sans-serif;
    --basic-white: #fff;
    --basic-black: #000000;

    --border-grey: #A49F9F;
    --box-border:#E6EBEE;
    --box-bg:#B9B9B9;
    --box-bg2:#F1F1F1;
    --box-bg3:#F9F9F9;
    --point-orange:#FAAB23;
    
    --pastel-blue:#9BC3FF;
    --pastel-orange:#FF9F81;
    
    /* Text */
    --basic-text :#222222;
    --disabled-text : #707070;
    --grey-text:#898989;

    /* Select */
    --select-bg:#f7f6f6;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
}

/* header */
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 120px;
    background-color: white;
    z-index: 2;
}

.contents{
    font-size: 14px;
    width: 80vw;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-top : 50px;
    border-bottom: solid 1px var(--border-grey);
    border-width: 120%;
    padding-bottom : 30px;
    background-color: white;
}

.logo{
    display: flex; 
    width : 300px;
}

.title{
    font-size:42px;
    font-weight: bold;
    font-family: 'Viga';
    color: var(--basic-text);
    padding : 10px;
}

.subtitle{
    font-family: 'Viga';
    color: var(--basic-text);
    padding-left : 10px;
    font-size:22px;
}

.logoimg{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.navigation{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul {
    display: flex;
    list-style: none;
    font-family: 'Viga';
    font-size:30px;
    font-weight: bold;
}
.navigation a {
    color:var(--basic-black);
    text-decoration: none;
    margin-left: 40px;
}
.navigation li + li {
    margin-left: 40px;
    
}
  
.navigation a:hover {
    color:var(--point-orange);
}  