@font-face {
    font-family: 'Viga';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&family=Rubik&display=swap') format('woff');
    font-weight: 400;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Lobster&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+KR&family=Ubuntu:ital,wght@1,500&display=swap');
:root {
    --body-font: "Noto Sans KR", sans-serif;
    --basic-white: #fff;
    --basic-black: #000000;

    --border-grey: #A49F9F;
    --box-border:#E6EBEE;
    --box-bg:#AFAFAF;
    --box-bg2:#FBFBFB;
    --box-bg3:#F9F9F9;
    --point-orange:#FAAB23;
    
    --pastel-blue:#9BC3FF;
    --pastel-orange:#FF9F81;
    
    /* Text */
    --basic-text :#222222;
    --disabled-text : #707070;
    --grey-text:#898989;

    /* Select */
    --select-bg:#f7f6f6;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
}

/* header */
/* .header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 120px;
    background-color: white;
    z-index: 2;
} */

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    width: 100vw;
    background: #fff;
    z-index: 2;
  }

  .contents {
    font-size: 14px;
    display: flex; 
    align-items: center; 
    width: 100%;
    height: 100%;
    padding-left: 300px;
    border-bottom: solid 1px var(--border-grey);
    background-color: white;
  }
  
  .logo {
    display: flex;
    align-items: center; 
    width : 400px;
  }
  
  .title {
    width : 200px;
    font-size: 42px;
    font-weight: bold;

    padding: 10px;
    list-style: none;
    text-decoration: none;
  }
  .header a {
    list-style: none;
    text-decoration: none;
    color: var(--basic-text);
    font-family: 'Ubuntu', sans-serif;

  }
  .subtitle {
    width : 200px;
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--basic-text);
    font-size: 22px;
  }
  
  .search {
    position: relative;
    margin-left: 100px;
  }
  
  .search input {
    width: 450px; 
    height: 20px;
    border: 1px solid #bbb;
    border-radius: 30px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
  .search img {
    position: absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
  }
.userBox{
  position:absolute;
  right : 120px;
}
.userBox span{
  padding : 10px;
  font-size: 12px;
}
.profileImg{
  position:absolute;
  right : 50px;
  border-radius : 50%;
  width : 50px;
}

