
.UserCard{
    padding: 5px;
    border-radius: 16px;
    border: 1px solid var(--box-bg);
    background: var(--box-bg2);
    height: 20px;
    line-height: 36px;
    word-wrap: break-word;
    padding : 10px;
    width : 265px;
    height: 200px;
    margin-right : 10px;
  }

  .GroupCard{
    padding: 5px;
    border-radius: 16px;
    border: 1px solid var(--box-border);
    height: 20px;
    line-height: 36px;
    word-wrap: break-word;
    padding : 10px;
    width : 265px;
    height: 200px;
    margin-right : 10px;
  }



  .pjSelect {
    width: 70px;
    height: 20px;
    background: inherit;
    padding: 0px 3px 0px 10px;
    border-radius: 4px;
  }
  .pjSelect option {
    background: inherit;
    padding: 3px 0;
  }
  .pjSelect option:hover {
    background: rgb(58, 58, 58)
  }