
*{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Viga';
}
body{
  background-color: var(--basic-white);
}
.default{
  width: 1900px;
  min-height: 100vh;
}

.inner{
  width: 1900px;
  padding-top:200px;
}

.body{
  position: absolute;
  font-size: 14px;
  left : 520px;
  top : 230px;
  background-color: white;
  width : 900px;
  height : 680px;
}


.formGroup {
  display: flex;
  flex-direction: row ;
  margin-bottom: 20px;
  position: relative;
}
/* button */
button{
  border:none;
  border-radius: 6px;
  background: var(--point-orange);
  width : 76px;
  height : 37px;
  right : 25px;
  position: absolute;
  cursor:pointer;

  font-family: 'Brawler';
  color : white;
  font-size:15px;
  font-weight: bold;
  z-index: 1;
}
/* input */

.formGroup div{
  padding: 5px;
  border-radius: 12px;
  border: 1px solid var(--box-bg);
  background: var(--box-bg3);
  height: 20px;
  line-height: 36px;
  word-wrap: break-word;
  padding : 10px;
  width : 850px;
  height: 140px;
  margin-top:20px;
}


.formGroup input:focus {
  outline:none;
}

/* half */
.box__{
  width : 900px;
  margin : 0 auto;
  display :flex;
  flex-wrap: wrap;
}
.half{
  width : 450px;
}

/* checkbox */
.text__1 {
  font-size:23px;
  font-weight: bold;
  width : 100%;
  line-height: 35px;
}

.container{
  max-width : 1200px;
  margin : 0 auto;
  display :flex;
  flex-wrap: wrap;
}
.container div{
  margin : 10px;
  margin-left: 0px;
}
.container div label{
  cursor:pointer;
}
.container div label input[type="checkbox"]{
  display: none;
  
}
.container div label span{
  position: relative;
  display: inline-block;
  background-color: var(--select-bg);
  padding: 10px 16px;
  font-size: 12px;
  border-radius: 30px;
  user-select: none;
  overflow: hidden;
}
.container div label input[type="checkbox"]:checked~span{
  background:var(--point-orange);
}
