.default{
  padding-top:200px;
}


.inner{
  margin : 0 auto;
  width : 50vw;
  height : 680px;
}

.body{
  position: absolute;
  left : 450px;
  font-size: 14px;
  top : 180px;
  background-color: white;
}

.box__{
  width : 60vw;
  height: 600px;
  margin : 0 auto;
  display :flex;
  flex-wrap: wrap;
}

.user_box{
  width: 50vw;
  height: 100px;
}

.user_icon{
  width: 86px;
  height: 86px;
  flex-shrink: 0;
  border-radius: 43px;
}

.user_name_text{
  color: #727272;
  font-family: Voces;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
}

.user_email_text{
  color: #727272;
  font-family: Viga;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left :20px;
  margin-top: 15px;
}

.data_area{
  width: 50vw;
  height: 100px;
  color: #000;
  font-family: Voces;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}