html,body {
    width: 100%;
    height: 100%;
}

.label {
    margin-top: 50px;
    height: 130px;
    width: 100%;
    border-width:0px 0px 1px 0px;
    border-style:solid;
  }

.title_text{
    color: #000000;
    font-family: "Brawler-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    height: 79px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}

.question{
    position: relative;
    top : 100px;
}

.tt{
    height: 250px;
    margin-left: 40px;
    border-radius: 15px;
    border: 1px solid #B9B9B9;
    background: #F1F1F1;
    margin-bottom: 10px;
}

.exit{
    position: absolute;
    top : 50px;
    left: 50px;
}

.submitBtn{
    border:none;
    border-radius: 5px;
    background: var(--point-orange);
    width : 56px;
    height : 25px;
    cursor:pointer;
    font-family: 'Brawler';
    color : white;
    font-size:10px;
    font-weight: bold;
    z-index: 1;
    margin-left: 10px;
    }
    

.tt_in{
    position: relative;
    top : 25px;
    left: 35px;
}

.tt_ini{
    position: relative;
    top : 40px;
    left: 35px;
}

.text_box{
    width: 35px;
    height: 25px;
}

.between{
    margin-bottom: 2px;
}