.login-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .login-page .div {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
  }
  
  .login-page .overlap {
    height: 244px;
    left: 713px;
    position: absolute;
    top: 748px;
    width: 461px;
  }
  
  .login-page .group {
    background-color: #efefef;
    border-radius: 50px;
    height: 165px;
    left: 0;
    position: absolute;
    top: 0;
    width: 461px;
  }
  
  .login-page .text-wrapper {
    color: #717171;
    font-family: "Brawler-Bold", Helvetica;
    font-size: 64px;
    font-weight: 700;
    height: 106px;
    left: 178px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 28px;
    transform: rotate(0.31deg);
    width: 239px;
  }
  
  .login-page .text-wrapper-2 {
    color: #717171;
    font-family: "Brawler-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    height: 79px;
    left: 162px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 164px;
    transform: rotate(0.31deg);
    width: 136px;
  }
  
  .login-page .image {
    height: 80px;
    left: 49px;
    object-fit: cover;
    position: absolute;
    top: 42px;
    width: 77px;
  }
  
  .login-page .overlap-group-wrapper {
    height: 342px;
    left: 778px;
    position: absolute;
    top: 198px;
    width: 608px;
  }
  
  .login-page .overlap-group {
    height: 342px;
    position: relative;
    width: 604px;
  }
  
  .login-page .text-wrapper-3 {
    color: #000000;
    font-family: "Viga-Regular", Helvetica;
    font-size: 128px;
    font-weight: 400;
    height: 193px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 604px;
  }
  
  .login-page .p {
    color: #000000;
    font-family: "Brawler-Bold", Helvetica;
    font-size: 40px;
    font-weight: 400;
    height: 193px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 149px;
    width: 604px;
  }
  
  .login-page .span {
    font-weight: 700;
  }
  
  .login-page .text-wrapper-4 {
    font-family: "Brawler-Regular", Helvetica;
  }
  
  .login-page .img {
    height: 274px;
    left: 494px;
    object-fit: cover;
    position: absolute;
    top: 211px;
    width: 283px;
  }
  
  .login-page .text-wrapper-5 {
    color: #717171;
    font-family: "Brawler-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    height: 64px;
    left: 720px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 555px;
    width: 445px;
  }